<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.im.tku.greennote">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Note_create"
            android:screenOrientation="portrait"/>
        <activity android:name=".Curse_page"
            android:screenOrientation="portrait"/>
        <activity android:name=".Folder"
            android:screenOrientation="portrait"/>
        <activity android:name=".Curse_create"
            android:screenOrientation="portrait"/>
        <activity android:name=".Folder_Note"
            android:screenOrientation="portrait"/>
        <activity android:name=".Folder_Image"
            android:screenOrientation="portrait"/>
        <activity android:name=".Editpage"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditImage"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>